//
// VARIABLES
//

$primary-color: #0095dd;
$color-orange: #ff9500;

// Custom & Sandstone gradients
$gradient-fxos-blue: linear-gradient(to bottom, #00a2df 0%, #009ad8 18%, #0072b5 71%, #0063a8 100%);
$gradient-fxos-tweet-highlight: linear-gradient(to bottom, #ff9500 0%, #e66000 100%);
$gradient-sandstone-light-grey: linear-gradient(to bottom, #d4dde4 0%, #eaeff2 100%);

// Type
$opensans-font-stack: 'Open Sans', 'Droid Arabic Naskh', 'Mplus Fulah', sans-serif;